#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.form-container {
  display: flex;
  justify-content: center;
}

input {
  font-size: 1em;
}

select {
  font-size: 1em;
}
span {
  font-size: 1em;
}

.form-column {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-container {
  margin-bottom: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
